/* frontend/src/components/Footer.css */
.footer {
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: #555;
}
